.Portfolio {
  padding: 0 70px 90px;
  display: flex;
  flex-direction: column;
}

.Portfolio__title {
  color: #a0a0a0;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  width: 100%;
}

.Portfolio__link {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.7;
  padding-bottom: 19px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  transition: linear 0.3s;
}

.Portfolio__link:hover {
  opacity: 0.7;
}

.Portfolio__link:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .Portfolio {
    padding: 0 50px 90px;
    display: flex;
    flex-direction: column;
  }
  .Portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .Portfolio {
    padding: 0 14px 70px;
    display: flex;
    flex-direction: column;
  }
  .Portfolio__title {
    font-size: 14px;
  }
  .Portfolio__link {
    font-size: 18px;
  }
}
