.promo {
  max-width: 95%;
  height: 493px;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 38px auto 0 38px;
}

.promo__title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  margin: 160px 235px 0;
}

@media screen and (max-width: 1038px) {
    .promo__title {
        margin-top: 120px;
    }
  }
  

@media screen and (max-width: 971px) {
  .promo {
    margin-left: 30px;
    margin-right: 30px;
    height: 834px;
  }
  .promo__title {
    font-size: 40px;
    margin: 350px auto 0;
  }
}

@media screen and (max-width: 500px) {
  .promo {
    margin-left: 14px;
    margin-right: 14px;
    height: 586px;
  }
  .promo__title {
    font-size: 29px;
    margin: 220px auto 0;
  }
}
