.promo {
    max-width: 1200px;
    height: 493px;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.promo__title {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    margin: 160px 235px 0;
}

.navTab {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.navTab__item {
    max-width: 96px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #E8E8E8;
    padding: 10px 13.5px;
    transition: linear .3s;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 500;
}

.navTab__item:last-child {
    margin-right: 0;
    padding-right: 23px;
    padding-left: 23px;
}

.navTab__item:first-child {
    padding-right: 17px;
    padding-left: 17px;
}

.navTab__item:hover {
    background-color: #2BE080;
    color: #000;
}